<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Shufle Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Shuffle - v2.3.1
  * Template URL: https://bootstrapmade.com/bootstrap-3-one-page-template-free-shuffle/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Inter PhoneLab</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html#about">New Arrival</a></li>
          <li><a href="index.html#pricing">Articles</a></li>
          <li class="drop-down active"><a href="#">Phone Reviews</a>
            <ul>
              <li><a href="index.html#services">Top Trend</a></li>
              <li class="drop-down active"><a href="specs.html">Brands</a>
                <ul>
                  <li><a href="#samsung">Samsung</a></li>
                  <li><a href="#iphone">iPhone</a></li>
                  <li><a href="#xiaomi">Xiaomi</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="index.html#info-box">Questions</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#services">Phone Reviews</a></li>
            <li>Brands</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="samsung" class="about">

      <div class="container">

        <div class="section-title" >
          <h2>Samsung</h2>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <img src="assets/img/Phone/galaxys20.webp" class="img-fluid" alt="">
            <ul class="ml-4 list-inline">
              <li>Release Date: April, 2021</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3>Samsung galaxy S20</h3>
            <h6>Rp30.900.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="table-secondary ">Screen</td>
                        <td>Dynamic AMOLED 6.7 inci</td>
                    </tr>
                    <tr> 
                        <td class="table-secondary ">Processor</td>
                        <td> Exynos 990</td>
                    </tr>
                    <tr>
                        <td class="table-secondary ">Internal Memory</td>
                        <td> 128 GB / 256 GB / 512 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary ">RAM</td>
                        <td>12 GB</td>
                    </tr>    
                    <tr>
                        <td class="table-secondary">Operating System</td>
                        <td> Android 10 </td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">Camera</td>
                        <td>Main Camera Quad 12 MP + 64 MP + 12 MP </td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-5 order-lg-2">
            <h6></h4>
            <img src="assets/img/Phone/samsunga72(1).jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: April, 2021</li>
              <li>Status: Available</li>
            </ul>
        </div>
          <div class="col-lg-7  pt-lg-0 content">
              <table class="table table-bordered">
                <tbody>
                  <h3>Samsung galaxy A72</h3>
                  <h6>Rp6.900.000</h6>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td> Super AMOLED 6.7 inci FHD+</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td> Qualcomm SM7125 Snapdragon 720</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td> 128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td> 8 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td> Android 11 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera 64 MP + 12 MP + 5 MP + 8 M</td>
                    </tr>      
                </tbody>
            </table>
          </div>
          </div>
         

        <div class="row mt-5">
          <div class="col-lg-5">
            <img src="assets/img/Phone/note20ultra.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: August, 2020</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3>Samsung Note 20 Ultra</h3>
            <h6>Rp17.999.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>Dynamic AMOLED 2X 6.9 inci</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Exynos 990 (7 nm+)</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>256 GB / 512 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>8 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td> Android 10 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 108 MP + 12 MP + 12 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-5 order-lg-2">
            <img src="assets/img/Phone/samsungs21plus.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: April, 2021</li>
              <li>Status: Available</li>
            </ul>
        </div>
          <div class="col-lg-7  pt-lg-0 content">
              <table class="table table-bordered">
                <tbody>
                  <h3>Samsung galaxy A72</h3>
                  <h6>Rp6.900.000</h6>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>Dynamic AMOLED 2X 6.8 inci Flat FHD+</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Exynos 2100 (5 nm))</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>8 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td> Android 11 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 12 MP + 64 MP + 12 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>

      </div>
      </div>
      </div>
    </section>

    <section id="iphone" class="about">

      <div class="container">

        <div class="section-title" >
          <h2>Iphone</h2>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <img src="assets/img/Phone/iphone11promax.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: September, 2019</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3> Iphone 11 pro max</h3>
            <h6>Rp24.999.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>Super Retina XDR OLED capacitive touchscreen</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Apple A13 Bionic</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>64 GB / 256 GB / 512 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>4 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>iOS 13 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 12 MP + 12 MP + 12 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-5 order-lg-2">
            <img src="assets/img/Phone/iphone11.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: September, 2019</li>
              <li>Status: Available</li>
            </ul>
        </div>
          <div class="col-lg-7  pt-lg-0 content">
              <table class="table table-bordered">
                <tbody>
                  <h3>Iphone 11</h3>
                  <h6>Rp14.999.000</h6>
                    <tr>
                      <td class="table-secondary ">Screen</td>
                        <td> IPS LCD capacitive touchscreen</td>
                    </tr>
                    <tr> 
                      <td class="table-secondary ">Processor</td>
                        <td>Apple A13 Bionic</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>>
                        <td>64 GB / 128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>4 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>iOS 13</td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Dual 12 MP + 12 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>
          

        <div class="row mt-5">
          <div class="col-lg-5">
            <img src="assets/img/Phone/iphone12blue.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: October, 2020</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3>Iphone 12</h3>
            <h6>Rp13.799.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>Super Retina XDR OLED 6.1 inci</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Apple A14 Bionic (5 nm)</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>64 GB / 128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>4 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>iOS 14</td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Dual 12 MP + 12 MPP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-5 order-lg-2">
            <img src="assets/img/Phone/iphonese2.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: April, 2021</li>
              <li>Status: Available</li>
            </ul>
        </div>
          <div class="col-lg-7  pt-lg-0 content">
              <table class="table table-bordered">
                <tbody>
                  <h3>Iphone SE 2</h3>
                  <h6>Rp6.900.000</h6>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>Dynamic AMOLED 2X 6.8 inci Flat FHD+</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Exynos 2100 (5 nm))</td>
                    </tr>
                    <tr >
                        <td class="table-secondary ">Internal Memory</td>
                        <td>128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>8 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td> Android 11 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 12 MP + 64 MP + 12 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
          </div>
      </div>
      </div>
      </div>
    </section>

    <section id="xiaomi" class="about">

      <div class="container">

        <div class="section-title" >
          <h2>Xiaomi</h2>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <img src="assets/img/Phone/pocof3.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: March, 2021</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3> Xiaomi Poco F3</h3>
            <h6>Rp5.999.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>AMOLED 6.67 inci FHD+</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Qualcomm SM8250-AC Snapdragon 870 5G </td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>128 GB / 256 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>6 GB / 8 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>Android 11 </td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 48 MP + 8 MP + 5 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-5 order-lg-2">
            <img src="assets/img/Phone/xiaomimixfold.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: April, 2021</li>
              <li>Status: Available</li>
            </ul>
        </div>
          <div class="col-lg-7  pt-lg-0 content">
              <table class="table table-bordered">
                <tbody>
                  <h3>Xiaomi Mi Mix Fold</h3>
                  <h6>Rp22.199.000</h6>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td> Foldable AMOLED 8.01 inci, Cover display AMOLED</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Qualcomm SM8350 Snapdragon 888 (5 nm)</td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>>
                        <td>256 GB / 512 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>12 GB / 16 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>Android 10</td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera Triple 108 MP + 8 MP + 13 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
          </div>
          

        <div class="row mt-5">
          <div class="col-lg-5">
            <img src="assets/img/Phone/xiaomiblackshark4.jpg" class="img-fluid" alt="">
            <ul class=" ml-4 list-inline">
              <li>Release Date: October, 2020</li>
              <li>Status: Available</li>
            </ul>
          </div>
          <div class="col-lg-7  pt-lg-0 content">
            <h3>Xiaomi Black Shark 4 Pro</h3>
            <h6>Rp8.999.000</h6>
              <table class="table table-bordered">
                <tbody>
                    <tr >
                      <td class="table-secondary ">Screen</td>
                        <td>AMOLED 6.67 inci FHD+</td>
                    </tr>
                    <tr > 
                      <td class="table-secondary ">Processor</td>
                        <td>Qualcomm SM8350 Snapdragon 888 </td>
                    </tr>
                    <tr >
                      <td class="table-secondary ">Internal Memory</td>
                        <td>256 GB / 512 GB</td>
                    </tr> 
                    <tr>
                        <td class="table-secondary">RAM</td>
                        <td>8 GB / 12 GB / 16 GB</td>
                    </tr>    
                    <tr >
                      <td class="table-secondary">Operating System</td>
                        <td>Android 11</td>
                    </tr> 
                    <tr >
                      <td class="table-secondary">Camera</td>
                        <td>Main Camera 64 MP + 8 MP + 5 MP</td>
                    </tr>      
                </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
    </section>

    
     <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact section-bg">

      <div class="container">
        <div class="section-title">
          <h2>Feedback</h2>
       </div>
      </div>

      <div class="container-fluid">

          <div class="contact-form-wrap">
            <form name="userForm" ng-app="SignForm" ng-controller="MyController" ng-submit="alertMe(userForm.$valid)" method="POST" novalidate  >
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="name">Your Name</label>
                  <input ng-model="user.name" type="text" name="name" class="form-control" id="name" placeholder="name" required="true" data-msg="Please enter at least 4 chars" />
                  <small ng-show="userForm.name.$invalid && userForm.name.$touched" class="help-block text-danger">
                    Please enter your name!
                  </small> 
                </div>
                <div class="col-md-6 form-group">
                  <label for="email">Your Email</label>
                  <input ng-model="user.email" type="email" class="form-control" name="email" id="email" placeholder="email" required="true" data-msg="Please enter a valid email" />
                  <small ng-show="userForm.email.$invalid && userForm.email.$touched" class="help-block text-danger">
                    Please enter your email!
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea ng-model="user.message" type="text" class="form-control" name="message" rows="4" placeholder="message" required="true" data-msg="Please write something for us"></textarea>
                <small ng-show="userForm.message.$invalid && userForm.message.$touched" class="help-block text-danger">
                  Enter your message
                </small>
              </div>
              
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
      </div>
    </section><!-- End Contact Us Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Inter PhoneLab</h3>
          </div>
          <div class="col-lg-3 footer-info">
            <p>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
            <div class="social-links col-lg-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Devi Azzah & Putri Yasmina</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootstrap-3-one-page-template-free-shuffle/ -->
        Designed by <a href="#">Devi Azzah & Putri Yasmina</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    var myModule = angular.module('SignForm', []);
    myModule.controller('MyController', function ($scope) {
        $scope.alertMe = function (isvalid) {
            if (isvalid) {
                alert('Thanks for your feedback ' + $scope.user.name + '!');
                $scope.user = {};
                $scope.userForm.$setPristine();
                $scope.userForm.$setUntouched();
            } else {
                alert('Send feedback failed. Please Try again!');
            }
        };
    });
    </script>

</body>

</html>